.UsersList{
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

@media (max-width: 600px) {
    .info{
        display: flex;
        justify-content: center;
        font-size: medium;
        font-weight: bold;
    }
}